@page "/AddProduto"
@inject IListaInterface listaServices
@rendermode InteractiveServer

<PageTitle>Adicionar Produto</PageTitle>

<div class="form-container">
    <h1>Adicionar Produto</h1>
    <EditForm Model="@product" OnValidSubmit="@AddNewProduct">
        <DataAnnotationsValidator />
         <ValidationSummary />
        <div class="mb-3">
            <label for="productName" class="form form-table">Produto:</label>
            <InputText class="form form-control" id="productName" placeholder="Digite o nome do produto" @bind-Value="product.Name"/>
            <ValidationMessage For="@(() => product.Name)" />
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form form-table">Valor:</label>
           <InputNumber class="form form-control" TValue="double?" placeholder="Digite o valor do produto" @bind-Value="@product.Price"/>
           <ValidationMessage For="@(() => product.Price)" />
        </div>
        <div class="mb-3">
            <label>Categoria:</label>
            <InputSelect class=" form form-select" @bind-Value=product.Category >
                <option value="">--Selecione--</option> 
                @foreach(var category in Enum.GetValues(typeof(ProductCategory)))
                {
                  <option value="@category">@category</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => product.Category)" />
        </div>
        <div class="mb-3">
            <label for="productLink" class="form form-table">Link</label>
            <InputText class="form form-control" id="productLink" placeholder="Digite o link do produto" @bind-Value="product.Link" />
            <ValidationMessage For="@(() => product.Link)" />
        </div>
        <label>Comprado:</label>
        <div class="mb-3">
            <InputSelect class="form-select" @bind-Value=product.Bought>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </InputSelect>
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Adicionar produto</button>
            <a class="btn btn-danger" href="/">Cancelar</a>
        </div>
    </EditForm>
</div>

@code {
    private Product product = new Product();


    public async Task AddNewProduct()
    {

        if (product is not null)
        {
            await listaServices.AddProductAsync(product);
            product = new Product();

        }
    }
}
